<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <base href="http://<?=$_SERVER["HTTP_HOST"]?>"/>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta name="description" content="" >
    <meta name="keywords" content="" >

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/design/css/style.css" >

    <title>Страница не найдена!</title>

</head>

<body>

<div class="wrapper">
    <div class="container">
        <div class="content"> <? echo $this->content ?></div>
    </div>
</div>


</body>
<script type="text/javascript" src="/design/js/common.js"></script>
</html>